html {
    padding: 0%;
    width: 100% !important;
    height: 100% !important;
}

body {
    padding: 0%;
    width: inherit;
    height: inherit;
}

.navbar {
    box-shadow: aquamarine 5px 0px 5px 5px;
}

.nav-item-top {
    border-left: darkgrey solid 1px;
    margin-right: 30px;
    padding: 10px;
}

.nav-title-top {
    color: antiquewhite;
}

.nav-content {
    color: white;
    font-weight: bold;
}

.border {
    border: black solid 1px;
}

.utama {
    padding: 0%;
    width: inherit;
    height: inherit;
}

.categoryproduct {
    color: rgba(201, 220, 189, 0.5);
}

.categoryproduct:hover {
    color: darkgreen;
}

.categoryproduct:active {
    color: white !important;
    background-color: rgb(32, 61, 29) !important;
}

.categoryproduct:visited {
    color: rgb(13, 48, 33);
}

.bg-greendark {
    background-color: rgba(220, 254, 186, 0.1) !important;
    color: #557038 !important;
}

.bg-greendark-none {
    background-color: none !important;
    color: rgba(201, 220, 189, 0.5) !important;
}